if ($("#clear_flag"))
{
  $("#clear_flag").remove();
}

$("<div id='clear_flag'><b><%= "游戏名字：#{@front_name}" %></b><br /><b><%= "appId：#{@front_appId}" %></b><br /><b><%= "cId：#{@front_cId}" %></b><br /></div>").appendTo("#cid_appid");

