<h1>Welcome to xinTest</h1>

<p>
  目前暂时只支持Get方法测试,持续forwarding...

	<br />
	1. POST方法cucumber自动化<br />
	<hr />
	Bug:
	1. 用例详细页面，显示比例失调
</p>

<p>
<h2>2014年9月8日</h2>
1. ruby实现AES/ECB/pkcs5padding加密<br />
2. POST加密data访问后台server，返回正确json结果<br />
3. POST方法创建测试用例<br />
</p>

<p>
<h2>2014年8月30日</h2>
1. 填加get方法的查询
</p>
