<div class="col-md-1">
</div>

<div class="col-md-10">

<h1 class="text-center">Welcome to Mgame_apiTest</h1>

<%= markdown("

***

**Update History:**

20151118
  * 添加测试组需求收集页面
  * 格式化table的css样式
  * 添加语法高亮的css样式
  * 测试组需求标题添加链接方法

20151029
  * 优化get方法展示页面
  * 去除get方法获取数据的iframe，保持get和post方法一致

20150825
  * post方法的录制case和测试case页面拆分
  * 导航栏点击后对应的页签高亮，涉及rails turbolink，bootstrap navbar active
  * cucumber执行时增加case标题的输出
  * 增加百度游戏列表项目
  * 优化feature file的设置
  * case编辑页面增加查看功能
  * 增加parameter字段
  * 新建和更新增加ajax支持
  * 增加posts/test路由，即测试页面
  * 增加logger
  * 将公用函数feature.rb移动到lib目录下，符合rails惯例规范

20141108
  * 格式化post获取数据的期望结果
  * 优化界面

20141101
  * 支持markdown语法
  * 支持bootstrap前端工具包优化页面显示
  * 修复查询数据多次显示问题
  * 修复用例详细页面，显示比例失调

20140914
  * 实现post项目下拉列表
  * 实现post创建用例界面的查询
  * POST方法cucumber自动化

20140908
  * ruby实现AES/ECB/pkcs5padding加密
  * POST加密data访问后台server，返回正确json结果
  * POST方法创建测试用例

20140830
  * 填加get方法的查询
  
") %>
</div>

<div class="col-md-1">
</div>

