<div class="col-md-1">
</div>

<div class="col-md-10">

<h1>Welcome to xinTest</h1>

<%= markdown("

目前已经支持Get和post方法测试,持续forwarding...
即将支持negative测试...

***

Bug:

**Update History:**

20141101
  * 支持markdown语法
  * 支持bootstrap前端工具包优化页面显示
  * 修复查询数据多次显示问题
  * 修复用例详细页面，显示比例失调

20140914
  * 实现post项目下拉列表
  * 实现post创建用例界面的查询
  * POST方法cucumber自动化

20140908
  * ruby实现AES/ECB/pkcs5padding加密
  * POST加密data访问后台server，返回正确json结果
  * POST方法创建测试用例

20140830
  * 填加get方法的查询
  
") %>
</div>

<div class="col-md-1">
</div>

