# language: zh-CN

功能: Get请求获取json数据

#背景:

  场景大纲: Get方法请求json数据
    假如请求一个<url>
    那么返回数据应该包含:
      |<result1>|
      |<result2>|
      |<result3>|
      |<result4>|
      |<result5>|
      |<result6>|
      |<result7>|
      |<result8>|
      |<result9>|
      |<result10>|

    例子:
      | id | url | result1 | result2 | result3 | result4 | result5 | result6 | result7 | result8 | result9 | result10 |
      |27|http://www.tigerbull.info|虎|妞|||||||||
